body
{
	margin: auto;
	margin-bottom:50px;
	margin-top:0px;
}
footer
{
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

#desc{
  text-align: center;
}
#scsName{
  text-align: center;
}
