body
{
	margin: auto;
	margin-bottom:50px;
	margin-top:0px;
}
footer
{
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li
{
  display: inline;
}
#scsName
{
  text-align: center;
}
table
{
	width: 100%;
	margin-left:auto;
	margin-right: auto;
}
td
{
	text-align: center;
	vertical-align: top;
	padding: 10px;
}
